@import '../../style/themes/index.less';

.demo-popup {
  &-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  &-block {
    width: 240 * @rpx;
    height: 240 * @rpx;
    background-color: #fff;
    border-radius: @border-radius-md;
  }
}
